.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background : linear-gradient(
        rgba(255, 255, 255, 0.5), 
        rgba(255, 255, 255, 0.5)
    ),
      url("https://images.pexels.com/photos/415071/pexels-photo-415071.jpeg?_gl=1*14al06g*_ga*MTQzNDQ2ODg3MS4xNzY2NjY0NDgy*_ga_8JE65Q40S6*czE3Njg4MjkzNDAkbzkkZzEkdDE3Njg4Mjk5OTgkajI1JGwwJGgw");
    background-size: cover;

}

.loginTitle{
    font-size: 50px;
    margin-bottom: 20px;
    color: lightcoral;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm> label{
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}

.loginInput{
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
}

.loginButton{
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: lightcoral;
    color: white;
    cursor: pointer;
}

.loginRegisterButton{
    position: absolute;
    font-size: 16px;
    top: 60px;
    right: 20px;
    padding: 7px;
    border: none;
    border-radius: 10px;
    background-color: teal;
    color: white;
    text-decoration: none;
    cursor: pointer;
}