.write {
    padding-top: 50px;
 } 

 .writeImg {
    margin-left: 150px;
    margin-bottom: 50px;
    width: 80vw;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
 } 

 .writeForm {
    position: relative;
 }

 .writeFormGroup {
    margin-left: 150px;
    display: flex;
    align-items: center;
 }

 .writeIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #666;
    cursor: pointer;
 }

 .writeInput {
    font-size: 20px;
    border: none;
    width: 70%;
    margin-left: 20px;
 }

 .writeInput:focus {
    outline: none;
 }

 .writeText {
    font-size: 20px;
    margin-top: 30px;
 }

 .writeSubmit {
      position: absolute;
      top: 50px;
      right: 150px;
      color: white;
      background-color: teal;
      padding: 10px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
 }